
html, body, div,h1, h2, h3, h4, h5, h6, p,
a, img, ul, li, footer, header, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

footer, header, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ul {
  list-style: none;
}

body {
  background: #293f50;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4 {
  color: #648880;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-size: 24px;
  line-height: 44px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

a {
  color: #648880;
  text-decoration: none;
}

a:hover {
  color: #a9b2b9;
}


*,
*:before,
*:after {
  -webkite-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 960px;
}

.container,
.grid {
  margin: 0 auto;
  width: 960px;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

.col-1-3 {
  width: 33.33%;
  display: inline-block;
  vertical-align: top;
}

.grid,
.col-1-3{
  padding-left: 15px;
  padding-right: 15px;
}

h1,
h3,
h4,
h5,
p {
  margin-bottom: 22px;
}

.btn {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
}

.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}

.btn-alt:hover {
  background: #fff;
  color: #648880;
}

.hero {
  color: #fff;
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  text-align: center;
}

.hero h2 {
  font-size: 36px;
}

.hero p {
  font-size: 24px;
  font-weight: 100;
}

.teaser img {
  border-radius: 5px;
  display: block;
  margin-bottom: 22px;
  max-width: 100%;
}

.teaser a:hover h3 {
  color: #a9b2b9;
}

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}

.row {
  background: #fff;
  padding: 66px 0 44px 0;
  min-width: 960px;
}

.logo {
  border-top: 4px solid #648880;
  float: left;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  padding: 40px 0 22px 0;
  text-transform: uppercase;
}

.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
}

.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.primary-header a,
.primary-footer a {
  color: #fff;
}

.primary-header a:hover,
.primary-footer a:hover {
  color: #648880;
}

.primary-footer {
  color: #648880;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
}

.primary-footer small {
  float: left;
  font-weight: 400;
}

.nav {
  text-align: right;
}

.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}

.nav li:last-child {
  margin-right: 0;
}
